<h2><%=@product.name%></h2>
  <h3>Price: $<%=@product.price%></h3>
  <h3>Description: <%=@product.description%></h3>
  <p>
    <img src="<%= @product.images %>" alt="">
  </p>  
  <h4>
    <a href="/products/<%=@product.id%>/edit">Edit Product</a>
  </h4>